#footer {
  background-color: $dark-gray;
  color: white;
}

.footer__contacts tr td:first-child {
  min-width: 120px;
}

.footer__facebook {
  color: white;

  i {
    background-color: theme-color("primary");
    border-radius: 50%;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 36px;
  }
}

.footer-bottom {
  background-color: black;
  color: white;
}

.footer-bottom__content {
  display: flex;
  justify-content: space-between;
}