header {
  background-color: $dark-gray;
}

.navbar {
  width: 100%;
  @include media-breakpoint-up(md) {
    min-height: 60px;
  }
}

.navbar-collapse {
  @include media-breakpoint-down(md) {
    padding-top: 20px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(white, 1);
  opacity: 1;
  padding: 0.2rem 0.4rem;
  @include media-breakpoint-down(md) {
    font-size: $m-size;
    text-align: center;
  }
  &:hover,
  &.active {
    color: theme-color("primary");
  }
}

.navbar-dark .navbar-nav .nav-item:last-child {
  padding-right: 0!important;
}

.navbar-brand {
  line-height: 1;
  padding-top: 0;
  padding-bottom: 0;
  img {
    max-height: 26px;
    width: auto;
  }
}

.info-stripe {
  background-color: theme-color("primary");
  @include media-breakpoint-up(md) {
    font-size: $m-size;
  }
  @include media-breakpoint-down(sm) {
    line-height: 110%;
    padding: 5px 0;
  }
}

.info-stripe__content {
  display: flex;
  justify-content: space-between;
}

.info-stripe__content .fa {
  border: 1px solid $dark-gray;
  border-radius: 50%;
  color: $dark-gray;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: all .3s;
  width: 25px;
}